.header {
	background: #000000;
	width: 100%;
	padding: 0.5rem 1rem;
	white-space: nowrap;
	/* padding-bottom:0rem; */
}
@media (min-width:992px) {
	 .header{
		display: none;  
	 }
	}

.head-text{
	margin-bottom: 0rem;
	color: #fff;
	font-size: 2rem;
	line-height: inherit;
	white-space: nowrap;
	padding-left: .5rem;
	text-align: right;
}

.header-pic{
	width:50%;
	max-width:10rem;
	border: .45rem solid rgba(255, 255, 255, .2)
	
}

@media (max-width:992px){
	.nav-bar-mobile{
		text-align:center;
	}
	
}

@media (min-width:992px){
	.section-mobile{
		display: none!important;  
	
		}


}
@media (min-height:800px){
	.section-mobile{
		display: none!important;  
	
		}
	
	
}

.mobile-pic{
	width:100%;
	
	
}

.mobile-pic-background{
	background-image: url(../img/profile.jpeg);

	height: calc(100vh - 0px);
	background-repeat: no-repeat;
/* 	background-position-x: calc(-550px);  */
	max-height:800px;


}

.pic-transparent{
	background-color: rgba(0, 0, 0, 0.20);
	min-height: calc(100vh - 0px);
	width: 100%;
	
}

.resume-section-pic{
	padding-bottom: 5rem!important;
	
	
}

.mobile-pic-bottom{
	height: 50px;
	background-color: black;
}

.text-mobile{
	color: white;
	font-size: 2rem;
	font-weight: bold;
	padding-left: 2.5vh;
	width:65%;
	margin-right: none;
	position: absolute;
	top:75%;

}


.button-mobile{
	border: none;
	text-align: center;
	font-size: 2rem;
	padding:6px 6px;
	margin:18px 0px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10%;
	position: absolute;
	top:75%;
	left:75%;
	color: white;

}
.button-position{

}

.link-mobile:hover,
.link-mobile:focus,
.link-mobile:active{
	color: white;
}